<%= form_for @bank, html: {:multipart => true, class: "form-horizontal", role: :form} do |f| %>
	<%= render 'layouts/messages' %>
	<%= render 'layouts/model_error', :model => @bank %>
	<div class="form-group">
		<%= f.label :name, class: "col-xs-12 col-sm-4 control-label" %>
		<div class="col-xs-12 col-sm-8">
			<%= f.text_field :name, class: "form-control", placeholder: "Bank Name" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :account_number, class: "col-xs-12 col-sm-4 control-label" %>
		<div class="col-xs-12 col-sm-8">
			<%= f.text_field :account_number, class: "form-control", placeholder: "Account Number" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :cheque_image, class: "col-xs-12 col-sm-4 control-label" %>
		<div class="col-xs-12 col-sm-8">
			<%= f.file_field :cheque_image %>
			<td><%= image_tag @bank.cheque_image_url(:medium).to_s, width: "200" %></td>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :status, class: "col-xs-12 col-sm-4 control-label" %>
		<div class="col-xs-12 col-sm-8">
			<%= f.check_box :status %>
			<%= f.label :enable %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.submit "Submit", class: "btn btn-block signin" %>
		</div>
	</div>
<% end %>