<% title "Listing banks" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account number</th>
      <th>Cheque image</th>
      <th>Status</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @banks.each do |bank| %>
      <tr>
        <td><%= bank.name %></td>
        <td><%= bank.account_number %></td>
        <td><%= image_tag bank.cheque_image_url(:medium).to_s, height: '100' %></td>
        <td><%= bank.status %></td>
        <td><%= bank.user.username %></td>
        <td><%= link_to 'Show', bank %></td>
        <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
        <td><%= link_to 'Destroy', bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Register Bank', new_bank_path, class: 'btn btn-primary' %>
