<% title @bank.name %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <%= image_tag @bank.cheque_image_url(:large).to_s, width: '400' %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank.account_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bank.status %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank), class: 'btn btn-primary' %> |
<%= link_to 'List Banks', banks_path, class: 'btn btn-primary' %>

