<% title "Transaction Display" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Payee:</strong>
  <%= @transaction.payee %>
</p>

<p>
  <strong>Cheque date:</strong>
  <%= @transaction.cheque_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Account payee:</strong>
  <%= (@transaction.account_payee ? 'Yes' : 'No') %>
</p>

<p>
  <strong>Paid (Debited):</strong>
  <%= (@transaction.paid_status ? 'Yes' : 'No') %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @transaction.bank.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user.username %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction), class: 'btn btn-primary' %> |
<%= link_to 'Download Cheque', transaction_path(@transaction.id, :format => 'pdf') %> | 
<%= link_to 'Back', transactions_path, class: 'btn btn-primary' %>
